{% extends 'collegespace/template.html' %}

{% block body %}
<div class="posts">
    <div class="postForm">
            <form action="{% url 'collegespace:post_text' %}" method="post">
            {% csrf_token %}
            <textarea id="post" rows="5" cols="70" name="post"></textarea>
            <input type="submit" name="send" value="Post" style="background-color: #DCE5EE; border: 1px solid #666;size: 20px;">
        </form>
    </div>

    <div class="profilePosts">

        {% for post in posts %}
            {{ post.text }}<br>
            {{ post.description }}<br>
            Likes:{{ post.likes }}<br>

            <a href="{% url 'collegespace:like_post' post.id %}">Like</a>
            <a href="{% url 'collegespace:delete_post' post.id %}">Delete</a>
            <br>

            {% for comment in post.comments_set.all %}
                ----- Comment ------
                <br>
                {{ comment.comment_text }}<br>
                Likes:{{ comment.likes }}<br>
                <a href="{% url 'collegespace:like_comment' comment.id %}">Like</a>
                <a href="{% url 'collegespace:delete_comment' comment.id %}">Delete</a>
                <br>
            {% endfor %}
            <form action="{% url 'collegespace:comment' %}" method="post">
                {% csrf_token %}
                Comment : <textarea rows="5" cols="60" name="comment"></textarea>
                <input type="hidden" name="post" value="{{ post.id }}">
                <input type="submit" name="send" value="Post" style="background-color: #DCE5EE; border: 1px solid #666;size: 20px;">
            </form>
            <br><br><br>
        {% endfor %}

    </div>


    <img src="" height="250" width="200" alt="" title="profile img">
    <br />
    <div class="textheader">{{ user.get_username }} profile</div>
    <div class="profileleftsidecontent"><strong>content about the profile</strong><br />
    <p>Here is the Introduction</p>
    </div>
    <div class="textheader">{{ user.get_username }}'s Friends</div>
    <div class="profileleftsidecontent">
        <img src="" height="50" width="40">
        <img src="" height="50" width="40">
        <img src="" height="50" width="40">
        <img src="" height="50" width="40">
        <img src="" height="50" width="40">
        <img src="" height="50" width="40">
    </div>
</div>

{% endblock %}