{% extends 'collegespace/template.html' %}

{% block body %}
<div class="posts">
    <h2>Upload your Photos:</h2>
    <hr />
    <form action="{% url 'collegespace:post_img' %}" method="POST" enctype="multipart/form-data" name = 'pic'>
        {% csrf_token %}
        <input type="file" name="profilepic" />
        <input type="text" name="description">
        <input type="submit" name="uploadpic" value="Upload Image">
    </form>
    <br>
    <h2> Albums:</h2><hr>
    <table>
        <tr>
            <td>
                <div class='albums'>
                    <a href='view_phot0'>
                    <img src='#' height='170' width='170'><br><br>
                    album_title
                    </a>
                    <center>
                    <form method='POST' action='$user'><br>
                        {% csrf_token %}
                        <input type='submit' name='remove_album_$uid' value='Remove Album' style="float: right;">
                    </form>
                    </center>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}